# Libraries

In [1]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup
import re

# Web Scrapping

In [2]:
# get data
# ========

# link at which web data recides
link = 'https://www.mohfw.gov.in/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[-1]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [4]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [5]:
# save contents in a dataframe
# ============================
    
# skip last 3 rows, it contains unwanted info
# head_rows contains column title
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
df_bs.drop('S. No.', axis=1, inplace=True)

# there are 36 states+UT in India
df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*
0,Andaman and Nicobar Islands,0,33,0,33
1,Andhra Pradesh,1613,2539,71,4223
2,Arunachal Pradesh,41,1,0,42
3,Assam,1542,442,4,1988
4,Bihar,2254,2210,29,4493
5,Chandigarh,82,214,5,301
6,Chhattisgarh,541,213,2,756
7,Dadar Nagar Haveli,11,1,0,12
8,Delhi,14456,9898,650,25004
9,Goa,109,57,0,166
10,Gujarat,4762,12667,1155,18584
11,Haryana,1123,2134,24,3281
12,Himachal Pradesh,199,179,5,383
13,Jammu and Kashmir,2059,1048,35,3142
14,Jharkhand,433,354,6,793
15,Karnataka,2653,1610,57,4320
16,Kerala,884,690,14,1588
17,Ladakh,41,48,1,90
18,Madhya Pradesh,2748,5637,377,8762
19,Maharashtra,41402,33681,2710,77793
20,Manipur,86,38,0,124
21,Meghalaya,19,13,1,33
22,Mizoram,16,1,0,17
23,Nagaland,80,0,0,80
24,Odisha,1055,1416,7,2478
25,Puducherry,57,25,0,82
26,Punjab,325,2043,47,2415
27,Rajasthan,2545,7104,213,9862
28,Sikkim,2,0,0,2
29,Tamil Nadu,12134,14902,220,27256
30,Telengana,1455,1587,105,3147
31,Tripura,471,173,0,644
32,Uttarakhand,846,297,10,1153
33,Uttar Pradesh,3553,5439,245,9237
34,West Bengal,3753,2768,355,6876

# Data Cleaning

In [6]:
# date-time information
# =====================

# today's date
now  = datetime.now()
# format date to month-day-year
df_bs['Date'] = now.strftime("%m/%d/%Y") 

# add 'Date' column to dataframe
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')

# df_bs.head(36)

In [7]:
# remove extra characters from 'Name of State/UT' column
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')

In [8]:
# latitude and longitude information
# ==================================

# latitude of the states
lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670, 'Dadar Nagar Haveli' : 20.1809, 'Sikkim':27.5330}

# longitude of the states
long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662, 'Dadar Nagar Haveli' : 73.0169, 'Sikkim':88.5122}

# add latitude column based on 'Name of State / UT' column
df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)

# add longitude column based on 'Name of State / UT' column
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

# df_bs.head(36)

In [9]:
# unique state names
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadar Nagar Haveli', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telengana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh',
       'West Bengal'], dtype=object)

In [10]:
# number of missing values 
df_bs.isna().sum()

Name of State / UT            0
Active Cases*                 0
Cured/Discharged/Migrated*    0
Deaths**                      0
Total Confirmed cases*        0
Date                          0
Latitude                      0
Longitude                     0
dtype: int64

In [11]:
# number of unique values 
df_bs.nunique()

Name of State / UT            35
Active Cases*                 34
Cured/Discharged/Migrated*    32
Deaths**                      24
Total Confirmed cases*        34
Date                           1
Latitude                      35
Longitude                     31
dtype: int64

# Saving data

In [12]:
# saving data
# ===========

# file names as year-month-day.csv format
file_name = now.strftime("%Y_%m_%d")+'.csv'

# location for saving the file
file_loc = 'C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\'

# save file as a scv file
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Active Cases*,Cured/Discharged/Migrated*,Deaths**,Total Confirmed cases*,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,0,33,0,33,2020-06-05,11.7401,92.6586
1,Andhra Pradesh,1613,2539,71,4223,2020-06-05,15.9129,79.7400
2,Arunachal Pradesh,41,1,0,42,2020-06-05,28.2180,94.7278
3,Assam,1542,442,4,1988,2020-06-05,26.2006,92.9376
4,Bihar,2254,2210,29,4493,2020-06-05,25.0961,85.3131
5,Chandigarh,82,214,5,301,2020-06-05,30.7333,76.7794
6,Chhattisgarh,541,213,2,756,2020-06-05,21.2787,81.8661
7,Dadar Nagar Haveli,11,1,0,12,2020-06-05,20.1809,73.0169
8,Delhi,14456,9898,650,25004,2020-06-05,28.7041,77.1025
9,Goa,109,57,0,166,2020-06-05,15.2993,74.1240
10,Gujarat,4762,12667,1155,18584,2020-06-05,22.2587,71.1924
11,Haryana,1123,2134,24,3281,2020-06-05,29.0588,76.0856
12,Himachal Pradesh,199,179,5,383,2020-06-05,31.1048,77.1734
13,Jammu and Kashmir,2059,1048,35,3142,2020-06-05,33.7782,76.5762
14,Jharkhand,433,354,6,793,2020-06-05,23.6102,85.2799
15,Karnataka,2653,1610,57,4320,2020-06-05,15.3173,75.7139
16,Kerala,884,690,14,1588,2020-06-05,10.8505,76.2711
17,Ladakh,41,48,1,90,2020-06-05,34.2996,78.2932
18,Madhya Pradesh,2748,5637,377,8762,2020-06-05,22.9734,78.6569
19,Maharashtra,41402,33681,2710,77793,2020-06-05,19.7515,75.7139
20,Manipur,86,38,0,124,2020-06-05,24.6637,93.9063
21,Meghalaya,19,13,1,33,2020-06-05,25.4670,91.3662
22,Mizoram,16,1,0,17,2020-06-05,23.1645,92.9376
23,Nagaland,80,0,0,80,2020-06-05,26.1584,94.5624
24,Odisha,1055,1416,7,2478,2020-06-05,20.9517,85.0985
25,Puducherry,57,25,0,82,2020-06-05,11.9416,79.8083
26,Punjab,325,2043,47,2415,2020-06-05,31.1471,75.3412
27,Rajasthan,2545,7104,213,9862,2020-06-05,27.0238,74.2179
28,Sikkim,2,0,0,2,2020-06-05,27.5330,88.5122
29,Tamil Nadu,12134,14902,220,27256,2020-06-05,11.1271,78.6569
30,Telengana,1455,1587,105,3147,2020-06-05,18.1124,79.0193
31,Tripura,471,173,0,644,2020-06-05,23.9408,91.9882
32,Uttarakhand,846,297,10,1153,2020-06-05,30.0668,79.0193
33,Uttar Pradesh,3553,5439,245,9237,2020-06-05,26.8467,80.9462
34,West Bengal,3753,2768,355,6876,2020-06-05,22.9868,87.8550

In [13]:
# column names 
# df_bs.columns

# Combining data

In [14]:
# list of all files available
# ! ls C:\Users\imdevskp\Documents\github\covid_india\.day_by_day_data

In [15]:
# location of the file
loc = "C:\\Users\\imdevskp\\Documents\\github\\covid_india\\.day_by_day_data\\"

# list of all files
files = glob.glob(loc+'2020*.csv')
   
# container for each day's data's dataframe
dfs = []

# loop through the files and append to the dfs list
for i in files:
    # read data
    df_temp = pd.read_csv(i)
    
    # rename columns
    
    try:
        df_temp = df_temp.drop(['Total Confirmed cases (Indian National)', 
                                'Total Confirmed cases ( Foreign National )'], axis=1)
    except:
        pass
        
    d = {'^Cured.*': 'Cured/Discharged/Migrated', 
         'Total Confirmed cases.*': 'Total Confirmed cases', 
         'Death.*': 'Death'}
    
    df_temp.columns = df_temp.columns.to_series().replace(d, regex=True)


#     df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
#     df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated', 
#                                       'Total Confirmed cases *': 'Total Confirmed cases', 
#                                       'Total Confirmed cases ': 'Total Confirmed cases', 
#                                       'Total Confirmed cases* ': 'Total Confirmed cases'})
#     df_temp = df_temp.rename(columns=lambda x: re.sub('Total Confirmed cases \(Including .* foreign Nationals\) ',
#                                                       'Total Confirmed cases',x))
#     df_temp = df_temp.rename(columns=lambda x: re.sub("Death.*", "Death", x))

    
    # append to the df_s
    dfs.append(df_temp)
    
# print(dfs)

# concat dataframes
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)


complete_data['Death'] = complete_data['Death'].astype('str').str.extract('(\d+)').astype('int')

complete_data.sample(10)

,Date,Name of State / UT,Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases,Active Cases*
2627,5/5/2020,Haryana,254,29.0588,76.0856,6,517,NaN
1824,3/23/2020,Tamil Nadu,1,11.1271,78.6569,0,9,NaN
500,2020-04-17,Assam,5,26.2006,92.9376,1,35,NaN
512,2020-04-17,Goa,6,15.2993,74.1240,0,7,NaN
1036,2020-05-08,Jammu and Kashmir,335,33.7782,76.5762,9,793,NaN
955,2020-05-02,Meghalaya,0,25.4670,91.3662,1,12,NaN
378,2020-04-11,Assam,0,26.2006,92.9376,1,29,NaN
914,2020-05-01,Himachal Pradesh,28,31.1048,77.1734,1,40,NaN
85,2020-04-01,Madhya Pradesh,0,22.9734,78.6569,3,66,NaN
2590,5/4/2020,Meghalaya,0,25.4670,91.3662,1,12,NaN

In [16]:
# complete_data.columns

## Preprocessing

In [17]:
# fix datatype
complete_data['Date'] = pd.to_datetime(complete_data['Date'])

# sort rows
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

# fill missing values with 0
cols = ['Cured/Discharged/Migrated', 'Death']
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

In [18]:
# rename state/UT names
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [19]:
# select only rows with more than 1 case
complete_data = complete_data[complete_data['Total Confirmed cases']>0]

In [20]:
# drop extra columns
complete_data = complete_data.drop(['Active Cases*'], axis=1)

In [21]:
# rearrange columns
complete_data = complete_data[['Date', 'Name of State / UT', 'Latitude', 'Longitude', 
                               'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]

## Final dataframe

In [22]:
# random rows
complete_data.sample(3)

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated
1459,2020-04-30,Meghalaya,25.4670,91.3662,12,1,0
803,2020-04-10,Delhi,28.7041,77.1025,720,12,25
1882,2020-05-13,Manipur,24.6637,93.9063,2,0,2

In [23]:
# complete data info
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2670 entries, 0 to 2677
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       2670 non-null   datetime64[ns]
 1   Name of State / UT         2670 non-null   object
 2   Latitude                   2670 non-null   float64
 3   Longitude                  2670 non-null   float64
 4   Total Confirmed cases      2670 non-null   int64
 5   Death                      2670 non-null   int32
 6   Cured/Discharged/Migrated  2670 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(1), object(1)
memory usage: 146.0+ KB

## Save as .csv file

In [24]:
# save data in a csv file
complete_data.to_csv('complete.csv', index=False)

In [25]:
# complete_data.groupby('Date').count()

In [26]:
# complete_data.sort_values('Death', ascending=False)

In [27]:
complete_data[complete_data['Date']==max(complete_data['Date'])]

,Date,Name of State / UT,Latitude,Longitude,Total Confirmed cases,Death,Cured/Discharged/Migrated
2643,2020-06-05,Andaman and Nicobar Islands,11.7401,92.6586,33,0,33
2644,2020-06-05,Andhra Pradesh,15.9129,79.7400,4223,71,2539
2645,2020-06-05,Arunachal Pradesh,28.2180,94.7278,42,0,1
2646,2020-06-05,Assam,26.2006,92.9376,1988,4,442
2647,2020-06-05,Bihar,25.0961,85.3131,4493,29,2210
2648,2020-06-05,Chandigarh,30.7333,76.7794,301,5,214
2649,2020-06-05,Chhattisgarh,21.2787,81.8661,756,2,213
2650,2020-06-05,Dadar Nagar Haveli,20.1809,73.0169,12,0,1
2651,2020-06-05,Delhi,28.7041,77.1025,25004,650,9898
2652,2020-06-05,Goa,15.2993,74.1240,166,0,57
2653,2020-06-05,Gujarat,22.2587,71.1924,18584,1155,12667
2654,2020-06-05,Haryana,29.0588,76.0856,3281,24,2134
2655,2020-06-05,Himachal Pradesh,31.1048,77.1734,383,5,179
2656,2020-06-05,Jammu and Kashmir,33.7782,76.5762,3142,35,1048
2657,2020-06-05,Jharkhand,23.6102,85.2799,793,6,354
2658,2020-06-05,Karnataka,15.3173,75.7139,4320,57,1610
2659,2020-06-05,Kerala,10.8505,76.2711,1588,14,690
2660,2020-06-05,Ladakh,34.2996,78.2932,90,1,48
2661,2020-06-05,Madhya Pradesh,22.9734,78.6569,8762,377,5637
2662,2020-06-05,Maharashtra,19.7515,75.7139,77793,2710,33681
2663,2020-06-05,Manipur,24.6637,93.9063,124,0,38
2664,2020-06-05,Meghalaya,25.4670,91.3662,33,1,13
2665,2020-06-05,Mizoram,23.1645,92.9376,17,0,1
2666,2020-06-05,Nagaland,26.1584,94.5624,80,0,0
2667,2020-06-05,Odisha,20.9517,85.0985,2478,7,1416
2668,2020-06-05,Puducherry,11.9416,79.8083,82,0,25
2669,2020-06-05,Punjab,31.1471,75.3412,2415,47,2043
2670,2020-06-05,Rajasthan,27.0238,74.2179,9862,213,7104
2671,2020-06-05,Sikkim,27.5330,88.5122,2,0,0
2672,2020-06-05,Tamil Nadu,11.1271,78.6569,27256,220,14902
2673,2020-06-05,Telengana,18.1124,79.0193,3147,105,1587
2674,2020-06-05,Tripura,23.9408,91.9882,644,0,173
2675,2020-06-05,Uttar Pradesh,26.8467,80.9462,9237,245,5439
2676,2020-06-05,Uttarakhand,30.0668,79.0193,1153,10,297
2677,2020-06-05,West Bengal,22.9868,87.8550,6876,355,2768